.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000000a6;
  overflow: hidden;
  z-index: 999;
  transition: 0.4s;
}

.char-wrapper {
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 1050px) {
  .char-wrapper {
    justify-content: center;
  }
}
